<unity>
  <typeAliases>
    <!--Shop.Models-->
    <typeAlias alias="ISearchModel" type="Shop.Models.ISearchModel, Shop.Models" />
    <typeAlias alias="SearchModel" type="Shop.Models.SearchModel, Shop.Models" />
    <typeAlias alias="IItemModel" type="Shop.Models.IItemModel, Shop.Models" />
    <typeAlias alias="ItemModel" type="Shop.Models.ItemModel, Shop.Models" />
    <!--Shop.ExternalServices-->
    <typeAlias alias="IExternalService" type="Shop.ExternalServices.IExternalService, Shop.ExternalServices" />
    <typeAlias alias="ExternalServiceMercadoLibre" type="Shop.ExternalServices.ExternalServiceMercadoLibre, Shop.ExternalServices" />
  </typeAliases>
  <containers>
    <container name="modelContainer">
      <types>
        <type type="ISearchModel" mapTo="SearchModel" />
        <type type="IItemModel" mapTo="ItemModel" />
      </types>
    </container>
    <container name="externalServiceContainer">
      <types>
        <type type="IExternalService" mapTo="ExternalServiceMercadoLibre" />
      </types>
    </container>
  </containers>
</unity>
