<unity>
  <typeAliases>
    <!--Shop.Models.Interfaces-->
    <typeAlias alias="IItemModel" type="Shop.Models.Interfaces.IItemModel, Shop.Models.Interfaces" />
    <!--Shop.Models-->
    <typeAlias alias="ItemModel" type="Shop.Models.ItemModel, Shop.Models" />

    <!--Shop.ExternalServices.Interfaces-->
    <typeAlias alias="IExternalService" type="Shop.ExternalServices.Interfaces.IExternalService, Shop.ExternalServices.Interfaces" />
    <!--Shop.ExternalServices-->
    <typeAlias alias="ExternalServiceMercadoLibre" type="Shop.ExternalServices.ExternalServiceMercadoLibre, Shop.ExternalServices" />

    <!--Shop.CrossCutting-->
    <typeAlias alias="ILoggerService" type="Shop.CrossCutting.ILoggerService, Shop.CrossCutting" />
    <!--Shop.CrossCutting.Log-->
    <typeAlias alias="Log4NetLoggerService" type="Shop.CrossCutting.Log.Log4NetLoggerService, Shop.CrossCutting.Log" />
  </typeAliases>
  <containers>
    <container name="modelContainer">
      <types>
        <type type="IItemModel" mapTo="ItemModel" />
      </types>
    </container>
    <container name="externalServiceContainer">
      <types>
        <type type="IExternalService" mapTo="ExternalServiceMercadoLibre" />
      </types>
    </container>
    <container name="loggerServiceContainer">
      <types>
        <type type="ILoggerService" mapTo="Log4NetLoggerService"></type>
      </types>
    </container>
  </containers>
</unity>
